<%# Menu items that that should appear in the navbar of all logged-in users,
regardless of their roles %>

<li><%= link_to "Problems", posts_path(post_type: "Problem") %></li>
<li><%= link_to "Ideas", posts_path(post_type: "Idea") %></li>
<li><%= link_to "Proposals", posts_path(post_type: "Proposal") %></li>


